.Weather {
  padding: 30px;
  border: 1px solid rgba(138, 195, 238, 0.2);
  border-radius: 5px;
  background-color: rgba(138, 195, 238, 0.2);
}

body {
  background-image: url(Images/white-cloud-blue-sky.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.Weather .overview {
  margin-bottom: 20px;
}
.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.footer {
  color: azure;
  font-size: 11px;
  margin-bottom: 10px;
}

.weather-app {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.quote-container {
  background-color: transparent;
  padding-left: 30px;
  padding-right: 30px;
}

.quote-text {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.Weather .weather-temperature strong {
  color: #ffea51;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather input[type="search"] {
  width: 100%;
  max-width: 400px;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.WeatherForecast-space {
  margin-left: 6.5px;
}

.Weather .weather-temperature .units a {
  text-decoration: none;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 11px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.forecast {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0 !important;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

li svg {
  margin-right: 10px;
}

.label-text {
  margin-right: 5px;
}

h1 {
  color: azure;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 64px;
}

.forecast .col {
  margin-bottom: 1rem;
}
.forecast .row {
  justify-content: center;
}

.custom-button {
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
}
.custom-button:hover {
  background-color: #c3d9f0 !important;
}

@media screen and (max-width: 576px) {
  .Weather {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
  }

  .Weather h1 {
    font-size: 40px;
  }

  .Weather input[type="search"] {
    width: 100%;
  }

  body {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .forecast {
    margin: 0 auto;
    text-align: center;
  }

  .forecast .row {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
